
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(26, 56, 30);
}
.main-header-nav{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header-item-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.main-header-item{
    margin:0 1rem;
    padding: 0;
}
.main-header-item a,
.main-header-item button{
    border: none;
    background: transparent;
    color: white;
    text-decoration: none;
}
.main-header-item a:hover,
.main-header-item a:active,
.main-header-item a.active{
    color: rgb(180, 241, 179);

}
.ani_header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin:auto; */
    height:80vh;
}

.ani_text{
    width: 50%;
/* margin-right: 0; */
    text-align: right;
    /* font-size:4rem; */
}
.first_text{
    display: block;
    color: rgb(236 228 13);
            font-size: 7rem;
            font-weight: 700;
            letter-spacing: 8px;
            background-color: white;
            margin-bottom: 10px;
            position: relative;
            animation: text 3s 1;
}
.second_text{
    color: rgb(64 208 32);
}
.animation{
    padding: 2rem;
    width: 50%;
    height: 100%;

}
.animated{
    width:100%;
    height:100%;
}
@keyframes text {
    0% {
        color:rgb(147, 247, 148);
        margin-bottom: -70px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -70px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -70px;
    }
}